footer {
  position: absolute;
  left: 0%;
  top: 93.9%;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 70px;

  color: var(--color-orange);

  font-size: 40px;

  background: var(--color-bg-blue);

  z-index: 99999;
}

a {
  display: flex;
  justify-content: center;
  align-items: center;
}

#IMG {
  height: 70px;

  pointer-events: none;
  animation: Rotate infinite 8s linear;
}
@keyframes Rotate {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
