<div>
    <img src="../../../assets/favicon-gerenciar.png" alt="">
  <h1>Bem vindo, me chamo Frederico</h1>
  <h2>Sou Desenvolvedor Full Stack</h2>
  <p class="p1">
    <b
      >Formado pela Kenzie Academy Brasil, me especializei nas seguintes
      linguagens de programação:</b
    >
    <span>HTML5 + CSS3</span>
    <span>JavaScriptES6</span>
    <span>ReactJS + TypeScript</span>
    <span>Angular14 + TypeScript</span>
    <span>NodeJS + ExpressJS</span>
    <span>TypeORM + TypeScript</span>
    <span>Python + Django</span>
  </p>
  <p class="p2">
    <b> Além de usar as seguintes ferramentas de DB: </b>
    <span>PostgreSQL</span>
    <span>MySQL</span>
    <span>SQLite3</span>
  </p>

  <p class="p3">
    <b>Concatenando com algumas Ferramentas tais como:</b>
    <span>Linux || Windows</span>
    <span>Docker</span>
    <span>Git || GitHub || GitFlow</span>
    <span>Trello || Jira</span>
  </p>
  <h2>Apaixonado pelo mundo Tech, com mais de 4000 horas em programação.</h2>
  <h2>+ de 20 projetos em Front, Back e FullStack realizados.</h2>

  <h1>Te convido a conhecer meus Projetos, acesse meu Portfólio <a>!</a></h1>
</div>
