header {
  position: absolute;
  left: 0%;
  top: 0%;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 70px;

  color: var(--color-orange);
  background: var(--color-bg-blue);
  
  font-size: 40px;
}

nav {
  position: relative;
  left: 40%;
}

img {
  position: relative;
  left: 2%;
  
  height: 70px;

}

button {
  display: flex;
  justify-content: center;

  width: 120px;
  max-width: 150px;

  font-size: 22px;

  background-color: var(--color-bg-blue);
  color: var(--color-white);

  border-radius: 3px;
}

button:hover {
  border: 1px solid var(--color-orange);
  color: var(--color-orange);
}
