/* You can add global styles to this file, and also import other style files */
:root {
  font-family: "Crimson Text", serif;
  font-family: "Poppins", sans-serif;
  font-family: "Satisfy", cursive;
  font-family: 'Alice', serif;
}
